@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient-xy {
  0%, 100% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
}

.animate-gradient-xy {
  background-size: 400% 400%;
  animation: gradient-xy 10s ease infinite;
}

body, .font-['Comic_Sans_MS','_cursive'] {
  font-family: 'Comic Sans MS', 'Papyrus', cursive, sans-serif !important;
}